In [86]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
mm = MinMaxScaler()

In [87]:
PATH = ('/Users/inseongkim/PycharmProjects/ML_class/proj_stud/student_score.csv')

In [88]:
study = pd.read_csv(PATH)
stu = study.copy()

In [89]:
stu.columns

Index(['Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
       'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore',
       'ReadingScore', 'WritingScore'],
      dtype='object')

In [90]:
stu.isna().sum()
stu

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

#NaN데이터 처리

In [91]:
stu.TransportMeans=stu.TransportMeans.fillna('foot')
stu.TestPrep = stu.TestPrep.fillna('none')
stu.WklyStudyHours = stu.WklyStudyHours.fillna('0')
stu['IsFirstChild'] = stu['IsFirstChild'].fillna('no')
stu.PracticeSport = stu.PracticeSport.fillna('no')
stu.NrSiblings = stu.NrSiblings.fillna(0.0)
stu.ParentMaritalStatus = stu.ParentMaritalStatus.fillna('single')
stu.ParentEduc = stu.ParentEduc.fillna('some high school')
stu.replace('high school','some high school')
stu.EthnicGroup = stu.EthnicGroup.fillna('group A')


stu

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,group A,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,none,married,sometimes,yes,0.0,foot,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,foot,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,group A,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

0과 1로 변환

In [92]:
stu.drop(['TestPrep','LunchType','NrSiblings','TransportMeans','Unnamed: 0'],axis=1,inplace=True)
stu.replace(
    {'EthnicGroup':
     {
      'group A':0,
      'group B':1,
      'group C':2,
      'group D':3,
      'group E':4
      },
      'IsFirstChild':
      {
        'yes':0,
        'no':1
      },
      'PracticeSport':
      {
        'never':0,
        'sometimes':1,
        'regularly':2,
        'no':3
      },
      'ParentMaritalStatus':
      {
        'single':0,
        'widowed':1,
        'married':2,
        'divorced':3
      },
      'ParentEduc':
      {
        'some high school':0,
        'high school':0,
        'some college':1,
        "bachelor's degree":2,
        "associate's degree":3,
        "master's degree":4
      },
      'WklyStudyHours':
      {
        '< 5':1,
        '5 - 10':2,
        '> 10':3,
        '0':4
      },
      'Gender':
      {
        'female':0,
        'male':1
      }
      },
            inplace=True)

In [93]:
stu

,Gender,EthnicGroup,ParentEduc,ParentMaritalStatus,PracticeSport,IsFirstChild,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,0,2,2,2,0,1,71,71,74
1,0,2,1,2,1,0,2,69,90,88
2,0,1,4,0,1,0,1,87,93,91
3,1,0,3,2,0,1,2,45,56,42
4,1,2,1,2,1,0,2,76,78,75
...,...,...,...,...,...,...,...,...,...,...
30636,0,3,0,0,1,1,2,59,61,65
30637,1,4,0,0,2,1,2,58,53,51
30638,0,0,0,2,1,1,2,61,70,67
30639,0,3,3,2,2,1,2,82,90,93
30640,1,1,1,2,0,1,2,64,60,58

In [94]:
stu['TotalMeans'] = (stu['MathScore'].astype('int')+stu['ReadingScore'].astype('int')+stu['WritingScore'].astype('int'))/3

In [95]:
import numpy as np

def get_outlier(df=None, column=None, weight=1.5):
  # target 값과 상관관계가 높은 열을 우선적으로 진행
  quantile_25 = np.percentile(df[column].values, 25)
  quantile_75 = np.percentile(df[column].values, 75)

  IQR = quantile_75 - quantile_25
  IQR_weight = IQR*weight
  
  lowest = quantile_25 - IQR_weight
  highest = quantile_75 + IQR_weight
  
  #outlier_idx = df[column][ (df[column] < lowest) | (df[column] > highest) ].index
  outlier_idx = df[column][ (df[column] < lowest)  ].index
  return outlier_idx

# 함수 사용해서 이상치 값 삭제
oulier_idx = get_outlier(df=stu, column='TotalMeans', weight=1.5)
stu.drop(oulier_idx, axis=0, inplace=True)

In [96]:
import matplotlib.pyplot as plt
stu.boxplot()

In [97]:
#stu.drop(['MathScore','WritingScore','ReadingScore'],axis=1,inplace=True)
stu.drop(['MathScore','WritingScore','ReadingScore'],axis=1,inplace=True)
stu

,Gender,EthnicGroup,ParentEduc,ParentMaritalStatus,PracticeSport,IsFirstChild,WklyStudyHours,TotalMeans
0,0,0,2,2,2,0,1,72.000000
1,0,2,1,2,1,0,2,82.333333
2,0,1,4,0,1,0,1,90.333333
3,1,0,3,2,0,1,2,47.666667
4,1,2,1,2,1,0,2,76.333333
...,...,...,...,...,...,...,...,...
30636,0,3,0,0,1,1,2,61.666667
30637,1,4,0,0,2,1,2,54.000000
30638,0,0,0,2,1,1,2,66.000000
30639,0,3,3,2,2,1,2,88.333333
30640,1,1,1,2,0,1,2,60.666667

In [98]:
y = stu.pop('TotalMeans')
X = stu

In [99]:
stu

,Gender,EthnicGroup,ParentEduc,ParentMaritalStatus,PracticeSport,IsFirstChild,WklyStudyHours
0,0,0,2,2,2,0,1
1,0,2,1,2,1,0,2
2,0,1,4,0,1,0,1
3,1,0,3,2,0,1,2
4,1,2,1,2,1,0,2
...,...,...,...,...,...,...,...
30636,0,3,0,0,1,1,2
30637,1,4,0,0,2,1,2
30638,0,0,0,2,1,1,2
30639,0,3,3,2,2,1,2
30640,1,1,1,2,0,1,2

In [100]:
X = mm.fit_transform(X)

In [101]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [102]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

In [103]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [104]:
pred = model.predict(X_test) #----> only one

In [116]:
from sklearn.metrics import r2_score,mean_absolute_error

In [126]:
r2_score(y_test,pred)
mean_absolute_error(y_test,pred)

11.082060943350367

In [125]:
import matplotlib.pyplot as plt
plt.plot()

[<matplotlib.lines.Line2D at 0x7fa276c15cd0>,
 <matplotlib.lines.Line2D at 0x7fa276c15550>,
 <matplotlib.lines.Line2D at 0x7fa276c15310>,
 <matplotlib.lines.Line2D at 0x7fa2847f3070>,
 <matplotlib.lines.Line2D at 0x7fa2847f3160>,
 <matplotlib.lines.Line2D at 0x7fa2847f3250>,
 <matplotlib.lines.Line2D at 0x7fa2847f3340>]

In [118]:
import matplotlib.pyplot as plt

In [108]:
from xgboost import XGBRegressor
XGB_R = XGBRegressor()

In [109]:
XGB_R.fit(X_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [110]:
pred = XGB_R.predict(X_test)

In [111]:
r2_score(y_test,pred)

0.05574480763449641